<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/courses/editcourse}" th:object="${course}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<p>Name: <input type="text" th:field="*{name}"/></p>
		<p>Description: <input type="text" th:field="*{description}"/></p>
		<p>Price: <input type="text" th:field="*{price}"/></p>
		<p>Hours: <input type="text" th:field="*{hours}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
</body>
</html>